.dialog {
    font-family: Montserrat, serif;
    min-width: 686px;
    max-width: 80%;
    position: relative;
    margin: 40px auto auto;
    padding: 40px;
    background: var(--black);
    color: var(--white);
    /* copied from figma: */
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05), 0 10px 20px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.07), 0 0 2px 0 rgba(0, 0, 0, 0.10);
}

.dialogTitle {
    color: var(--white);
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.exitButton {
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--white);
    cursor: pointer;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;

    &:after{
        display: flex;
        content: "\00d7";
        width: 24px;
        height: 24px;
        font-size: 28px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }
}