.movieTile {
    position: relative;
    width: 330px;
    margin-bottom: 40px;
    color: var(--white);
    padding: 0;
    background: none;
    border: none;

    .movieTile__poster {
        cursor: pointer;
        max-height: 465px;
        width: 100%;
        object-fit: cover;
    }

    .movieTile__nameContainer {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;

        .movieName {
            opacity: 0.7;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
        }

        .movieYear {
            padding: 1px 12px;
            border: 2px solid var(--grey);
            border-radius: 4px;
            font-size: 15px;
        }
    }

    .movieGenres {
        opacity: 0.5;
        font-size: 14px;
        text-align: left;
    }
}

.editButton {
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--red);
    cursor: pointer;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    &:after {
        display: flex;
        content: '\270E';
        width: 24px;
        height: 24px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
    }
}
