.App {
    background-color: var(--dark-grey);
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}

.App__container {
    width: 70%;
    position: relative;
}